/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'materialize';


 nav {
   background-color: lightseagreen;
   border-radius: 0 0 10px 10px;
   

 }

 nav ul {
  display: flex;
  justify-content: space-around;
 }



 #docHead {
   text-align: center;
   font-weight: 800;
 }

 h1 {
   text-align: center;
   padding-bottom: 30px;
   color: rgb(131, 44, 44);
   border-bottom: 1px solid rgb(61, 59, 59);
 }
 .textMove {
   padding-left: 20px;
 }

 .addPt {
   color: rgb(228, 224, 224);
   text-decoration: underline;
 }

 button {
   background-color: lightblue;
   margin: 10px;
   border-radius: 5px;
 }

 button:hover {
   background-color: rgb(147, 182, 248);
   cursor: pointer;
   
 }